<div>
  <div class="w-full rounded-lg shadow-lg overflow-hidden">
    <div class="flex  w-full">
      <div class="fixed top-0 left-0 z-40 w-64 h-screen  bg-blue-200  border-r border-gray-200 p-4 transition-all duration-300 hover:shadow-md">
        <div class="flex items-center mb-8 space-x-2 font-bold text-xl">
          <span class="material-symbols-outlined mr-2 text-yellow-500">explore</span> DadesAdventures
        </div>
        <nav>
          <ul class="space-y-2">
            <li>
              <a [routerLink]="['/admin/dashboard']" routerLinkActive="rounded-4xl bg-blue-400/50"
                class="flex items-center p-3 text-sm font-medium hover:rounded-4xl hover:bg-blue-400 text-black transition-all duration-200 ">
                <span class="material-symbols-outlined mr-3">dashboard</span>
                Dashboard
              </a>
            </li>
            <li>
              <a [routerLink]="" routerLinkActive="rounded-4xl bg-blue-400/50"
                class="flex items-center p-3 text-sm font-medium rounded-lg  transition-all duration-200 hover:rounded-4xl hover:bg-blue-400 text-black">
                <span class="material-symbols-outlined mr-3">campaign</span>
                Activities
              </a>
            </li>
            <li>
              <a [routerLink]="" routerLinkActive="rounded-4xl bg-blue-400/50"
                class="flex items-center p-3 text-sm font-medium rounded-lg  transition-all duration-200 hover:rounded-4xl hover:bg-blue-400 text-black">
                <span class="material-symbols-outlined mr-3">category</span>
                Categories
              </a>
            </li>
            <li>
              <a [routerLink]="" routerLinkActive="rounded-4xl bg-blue-400/50"
                class="flex items-center p-3 text-sm font-medium rounded-lg hover:rounded-4xl hover:bg-blue-400 text-black  transition-all duration-200 ">
                <span class="material-symbols-outlined mr-3">groups</span>
                Users
              </a>
            </li>
            <li>
              <a [routerLink]="" routerLinkActive="rounded-4xl bg-blue-400/50"
                class="flex items-center p-3 text-sm font-medium rounded-lg  transition-all duration-200 hover:rounded-4xl hover:bg-blue-400 text-black">
                <span class="material-symbols-outlined mr-3">insights</span>
                Reservations
              </a>
            </li>
            <li>
              <a [routerLink]="" routerLinkActive="rounded-4xl bg-blue-400/50"
                class="flex items-center p-3 text-sm font-medium rounded-lg  transition-all duration-200 hover:rounded-4xl hover:bg-blue-400 text-black">
                <span class="material-symbols-outlined mr-3">pin_drop</span>
                Places
              </a>
            </li>
            <li>
              <a [routerLink]="" routerLinkActive="rounded-4xl bg-blue-400/50"
                class="flex items-center p-3 text-sm font-medium rounded-lg  transition-all duration-200 hover:rounded-4xl hover:bg-blue-400 text-black">
                <span class="material-symbols-outlined mr-3">settings</span>
                Settings
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>